@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: var(--fds-text-primary);
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	scrollbar-width: thin;
}

body {
	min-height: 100vh;
	margin: 0;
	background: transparent;
	box-sizing: border-box;
	max-width: 100vw;
	scrollbar-width: thin;
}
#svelte {
	display: grid;
	grid-template-areas: 
		"nav breadcrumbs"
		"nav content";
	grid-template-columns: minmax(75px, 1fr) minmax(50vw, 4fr);
	grid-template-rows: 64px 3fr;
	box-sizing: border-box;
	max-width: calc(100vw - 48px);
	width: 100%;
	gap: 12px;
}

a {
	color: var(--fds-accent-text-primary);
}
a:visited, a:active {
	color: var(--fds-text-secondary);
}


pre {
	font-size: 16px;
	font-family: var(--font-mono);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

iframe {
	outline: none;
	display: none;
}

::-webkit-scrollbar {
	width: 10px;
	display: block;
}
::-webkit-scrollbar-track:hover {
	background: var(--fds-card-background-default);
	border-radius: 15px;
}
::-webkit-scrollbar-thumb {
	background-clip: content-box;
	border: 4px solid transparent;
	background-color: var(--fds-text-tertiary);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	border: 3px solid transparent;
	background-clip: content-box;
	border-radius: 10px;
}